:root {
    --vaccinate-main-color: #075290;
    --vaccinate-secondary-color: #064180;
    --vaccinate-tertiary-color: #073190;
    --vaccinate-text-color: #ffffff;
}

#map-container {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 60px;
    right: 0;
}

#map {
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar-header {
    z-index: 100;
}

.span-footer {
    color: var(--vaccinate-text-color);
}

.bg-dark {
    background-color: var(--vaccinate-main-color) !important;
}

.btn-success {
    color: var(--vaccinate-text-color);
    background: var(--vaccinate-main-color) none;
    border-color: var(--vaccinate-main-color);
}

.btn-success:hover {
    color: var(--vaccinate-text-color);
    background: var(--vaccinate-secondary-color) none;
    border-color: var(--vaccinate-main-color);
}

.btn-success:active {
    color: var(--vaccinate-text-color);
    background: var(--vaccinate-tertiary-color) none;
    border-color: var(--vaccinate-secondary-color);
}

.modal-header {
    color: var(--vaccinate-text-color);
    background-color: var(--vaccinate-main-color) !important;
}