#map-container {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 60px;
    right: 0;
}

#map {
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar-header {
    z-index: 100;
}

.span-footer {
    color: #ffffff;
}

.bg-dark {
    background-color: #075290 !important;
}

.btn-success {
    color: #ffffff;
    background-color: #075290;
    background-image: none;
    border-color: #075290;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #064180;
    background-image: none;
    border-color: #075290;
}

.btn-success:active {
    color: #ffffff;
    background-color: #073190;
    background-image: none;
    border-color: #064180;
}

.modal-header {
    color: #ffffff;
    background-color: #075290 !important;
}